@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Boldonse", system-ui;
    font-weight: 400px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


.hat {
    background: black;
    width: 100%;
}